.list_container {
  display: block;
  margin: auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.list_item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  list-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.list_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.list_item h3 {
  margin: 0;
  color: #333;
  font-size: 1.5rem;
}

.list_item p {
  color: #777;
  margin: 5px 0 0;
  font-size: 1rem;
}

.list_button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  border-radius: 8px;
  border: none;
  margin: 0.4em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}

.list_button:hover {
  background-color: rgb(245, 3, 3);
}
.list_button:focus,
.list_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bootcamp_photo {
  align-self: flex-end;
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-block: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Animation for the title */
@keyframes moveTitle {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin: 0 0;
  animation: moveTitle 2s ease-in-out infinite;
}
