* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 1rem 0;
  z-index: 999;
}

.main {
  flex: 1;
  padding: 2rem;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links li {
  margin: 0 2rem;
}

.nav_links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav_links a:hover {
  color: #f39c12;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav_links {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .nav_links.active {
    display: flex;
  }

  .navbar {
    position: relative;
  }
}
